<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".application.JD7Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JD7"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStatusBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 如果使用了 MultiDex, 需要添加如下配置 -->
        <meta-data
            android:name="androidx.multidex.provider"
            android:value="true" />
        <service
            android:name=".server.BluetoothService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice"
            tools:ignore="ForegroundServicePermission"> <!-- 在 Android 12 及更高版本中需要明确指定 export 属性 -->
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shurrikann.jd7.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data

                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--        tools:replace="android:resource"-->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStatusBarTheme" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStatusBarTheme" />
        <activity
            android:name=".activity.MyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStatusBarTheme" />
        <activity
            android:name=".activity.BluetoothSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStatusBarTheme" />
        <activity
            android:name="com.shurrikann.jd7.activity.HistoryDataLanWayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStatusBarTheme" />
        <activity
            android:name="com.shurrikann.jd7.activity.HistoryDataTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStatusBarTheme" />
        <activity
            android:name="com.shurrikann.jd7.activity.MyTransmitListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStatusBarTheme" />
        <activity
            android:name="com.shurrikann.jd7.activity.TransmitInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStatusBarTheme" />
    </application>
</manifest>